@page "/chat"
@inject IConfiguration Configuration
@inject IJSRuntime JS
@using AIChatApp.Model
@attribute [StreamRendering(true)]

<PageTitle>Chat</PageTitle>

<div class="chat">
    <div class="messages-scroller">
        <div class="messages">
            <ChatMessage
                State="@(new Message(){IsAssistant = true, Content = "Hi, I'm a helpful assistant, how may I assist you?"})" />
            @for (var i = 0; i < messages.Count; i++)
            {
                var id = $"message{i}";
                var state = messages[i]!;
                <ChatMessage @key="@id" State="@state" />
            }
        </div>
    </div>

    <form class="write-message" @ref="@writeMessageElement" @onsubmit="@SendMessage">
        <textarea @bind="@userMessageText" Placeholder="Ask the AI assistant" style="width: 100%; height: 100%;" />
        <button type="submit">Send</button>
    </form>
</div>